@import '/src/styles/variables.css';

.card-section-skeleton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--card);
  border: 1px solid var(--border);
  min-height: 450px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.card-section-skeleton-text {
  font-size: var(--desktop-lead-font-size);
  font-weight: var(--desktop-lead-font-weight);
  color: var(--card-foreground);
  margin-top: 16px;
  text-align: center;
}
