@import '/src/styles/variables.css';

.container-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 16px;
  background-color: var(--background-primary);
}

.card-title {
  font-size: var(--desktop-bodyLargeBold-font-size);
  font-weight: var(--desktop-bodyLargeBold-font-weight);
  color: var(--text-primary);
  margin: 0;
}

.card-title-repository {
  font-size: var(--desktop-bodySmall-font-size);
  font-weight: var(--desktop-bodySmall-font-weight);
  color: var(--text-primary);
  text-transform: underline;
  font-style: italic;
  margin: 0;
}

.card-platform-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.card-title-technology {
  font-size: var(--desktop-bodySmall-font-size);
  font-weight: var(--desktop-bodySmall-font-weight);
  color: var(--text-primary);
  margin: 0;
}

.card-container-technologies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.technology-badge {
  margin: 0;
  font-size: var(--desktop-tinyBold-font-size);
  font-weight: var(--desktop-tinyBold-font-weight);
}

.container-img-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--background-primary);
}

.img-skeleton {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.img-skeleton:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: color-mix(in srgb, var(--primary) 70%, transparent);
  box-shadow: 32px -34px 0 5px var(--primary);
  animation: slide 2s infinite ease-in-out alternate;
}

.img-skeleton:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary);
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
