@import '/src/styles/variables.css';

.button-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: var(--text-primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.2s;
  align-items: center;
  &:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 20px -18px;
  }
  &:active {
    transform: scale(0.95);
  }
}

.button-container--loading {
  background-color: var(--text-secondary);
  cursor: not-allowed;

  &:active {
    transform: scale(1);
  }
}

.button-container--contained {
  background-color: var(--primary);
  border: none;
}

.button-container--text {
  background-color: transparent !important;
}

.link-button {
  text-decoration: none;
}

.button-text {
  color: var(--primary);
  font-size: var(--desktop-bodySmallBold-font-size);
  font-weight: var(--desktop-bodySmallBold-font-weight);
}

.button-text--contained {
  color: var(--text-primary);
}
