@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --font: 'Manrope', sans-serif;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: var(--Light-Grayish-Blue);
}

.container {
  display: flex;
  max-width: 730px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px var(--Grayish-Blue);
  z-index: 1;

  @media (width <= 775px) {
    max-width: 320px;
    flex-direction: column;
  }
}

.container__image {
  width: 38%;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
  @media (width <= 775px) {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
}

.container__image img {
  width: 100%;
  height: 100%;
}

.container-body {
  background: #ffffff;
  width: calc(62% - 80px);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  gap: 40px;

  @media (width <= 775px) {
    width: calc(100% - 60px);
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
  }
}

.container-body__text-title {
  color: var(--Very-Dark-Grayish-Blue);
  margin: 0px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.container-body__text-paragraph {
  font-size: 13px;
  font-family: var(--font);
  color: var(--Desaturated-Dark-Blue);
  margin: 0px;
}

.container-body__footer {
  display: flex;
  justify-content: space-between;
}

.container-body__avatar-container {
  display: flex;
  gap: 15px;
}

.container-body__avatar-container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.container-body__avatar-text-container {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}

.container-body__avatar-name {
  color: var(--Desaturated-Dark-Blue);
  font-size: 15px;
  font-weight: 700;
}

.container-body__avatar-date {
  color: var(--Grayish-Blue);
  font-size: 13px;
}

.container-body__footer-icon {
  background-color: var(--Light-Grayish-Blue);
  color: var(--Very-Dark-Grayish-Blue);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}

.container-body__share {
  display: flex;
  background-color: var(--Very-Dark-Grayish-Blue);
  width: 250px;
  min-height: 55px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: 145px;
  left: 270px;
  transition: all 0.5s;
  gap: 20px;
  @media (width <= 775px) {
    top: 165px;
    left: 60px;
  }
}

.container-body__share p {
  color: var(--Grayish-Blue);
  font-family: var(--font);
  font-size: 15px;
  letter-spacing: 1px;
}

.container-body__container-share-icons {
  display: flex;
  gap: 15px;
}

.container-body__share img {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
}

.container-body__colita {
  width: 20px;
  min-height: 20px;
  background: var(--Very-Dark-Grayish-Blue);
  transform: rotate(45deg);
  z-index: 2;
  position: absolute;
  top: 190px;
  left: 385px;
  transition: all 0.5s;
  @media (width <= 775px) {
    top: 210px;
    left: 262px;
  }
}

/*ACCIONES*/
.hidden {
  opacity: 0;
}

.change_color_icon {
  background-color: var(--Very-Dark-Grayish-Blue);
  color: #ffffff;
}

.change_color_mobile_icon {
  background-color: var(--Desaturated-Dark-Blue);
  color: #ffffff;
}
