@import '../../../styles/variables.css';

.search-badge {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
}

.search-badge-text {
  color: var(--text-primary);
  font-size: var(--desktop-smallBold-font-size);
  font-weight: var(--desktop-smallBold-font-weight);
  margin: 0;
}
