---
import Footer from '@components/Home/Footer';
import Projects from '@components/Home/Projects';
import HomeLayout from '@layouts/HomeLayout.astro';
import '@styles/home.css';
---

<HomeLayout title="Inicio">
  <main class="root-container">
    <div class="grid-container">
      <Projects client:visible />
    </div>
    <Footer client:visible />
  </main>
</HomeLayout>
