---
import Footer from '@components/Home/Footer';
import Projects from '@components/Home/Projects';
import Layout from '@layouts/Layout.astro';
import '@styles/home.css';
---

<Layout title="Listado de proyectos">
  <main class="root-container">
    <div class="grid-container">
      <Projects client:visible />
    </div>
    <Footer client:visible />
  </main>
</Layout>
