---
import Footer from 'src/features/Projects/components/Footer';
import Projects from 'src/features/Projects/pages/Projects';
import Layout from '@layouts/Layout.astro';
import '@styles/home.css';
---

<Layout title="Listado de proyectos">
  <main class="root-container">
    <div class="grid-container">
      <Projects client:visible />
    </div>
    <Footer client:visible />
  </main>
</Layout>
