@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://file.myfontastic.com/c6bMe6q2EX423WrAAL4UwC/icons.css');

:root {
  --Pink: hsl(322, 100%, 66%);

  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);

  /*Fonts*/
  --font-header: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

/* helper class*/
.hidden {
  display: none !important;
}

.margin-left-card {
  margin-left: 9.8%;
}

.margin-right-card {
  margin-right: 35px;
}

button:focus {
  outline: none;
}
/*End helper class*/

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-header {
  width: 100%;
  background: url(../../assets/10-huddle-landing-page-with-alternating-feature-blocks/bg-hero-desktop.svg),
    var(--Very-Pale-Cyan);
}

/*CONTENEDOR HEADER*/
header {
  max-width: 1440px;
  width: calc(100% - 150px);
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-header);
  gap: 60px;
}

/*1296px de 1440px*/
.container-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-logo button {
  width: 200px;
  background: #ffffff;
  border: transparent;
  border-radius: 100px;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 1px 10px -8px black;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: color-mix(is srgb, #ffffff 80%, transparent);
  }

  &:active {
    transform: scale(0.95);
  }
}

.container-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-head__paragraph {
  width: 45%;
  max-width: 520px;
  margin-bottom: 90px;
}

.container-head__paragraph h1 {
  font-size: 39px;
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
}

.container-head__paragraph p {
  font-family: var(--font-body);
  font-size: 18px;
  margin-bottom: 35px;
  color: var(--Very-Dark-Cyan);
}

.container-head__paragraph button {
  height: 55px;
  font-family: var(--font-body);
  border-radius: 100px;
  width: 280px;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--Pink);
  font-weight: bold;
  border: transparent;
  box-shadow: 1px 1px 20px -8px black;
  cursor: pointer;
  transition: all 0.5s;

  &:active {
    transform: scale(0.95);
  }
}

.container-head img {
  width: 53%;
  height: 100%;
}
/*FIN CONTENEDOR HEADER*/

/*CONTENEDOR MAIN*/
main {
  max-width: 1440px;
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  position: relative;
  margin-bottom: 300px;
  padding: 0px 75px;
  gap: 40px;
}

/*1224px de 1440px*/
.container-card {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px -8px black;
}

.container-card__paragraph {
  width: 40%;
  max-width: 490px;
}

.container-card__paragraph h2 {
  font-family: var(--font-header);
  font-size: 28px;
  color: var(--Very-Dark-Cyan);
}

.container-card__paragraph p {
  font-family: var(--font-body);
  font-size: 18px;
  color: var(--Grayish-Blue);
}

.container-card img {
  width: 33%;
  height: auto;
  max-width: 400px;
}

.container-community {
  height: 280px;
  width: 55.5%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px -8px black;
  border-radius: 10px;
  background: #ffffff;
  position: absolute;
  bottom: -395px;
  z-index: 2;
  text-align: center;
}

.container-community h2 {
  font-family: var(--font-header);
  font-size: 32px;
  color: var(--Very-Dark-Cyan);
  margin: 0;
  margin-bottom: 40px;
}

.container-community button {
  width: 50%;
  height: 80px;
  color: #ffffff;
  font-family: var(--font-header);
  font-size: 20px;
  background: var(--Pink);
  border: transparent;
  border-radius: 100px;
  box-shadow: 1px 1px 20px -8px black;
  cursor: pointer;
  transition: all 0.5s;

  &:active {
    transform: scale(0.95);
  }
}
/*FIN CONTENEDOR MAIN*/

/*CONTENEDOR FOOTER*/
footer {
  width: 100%;
  height: 510px;
  display: flex;
  justify-content: center;
  color: var(--Grayish-Blue);
  background-color: var(--Very-Dark-Cyan);
  z-index: 1;
}

/*1250px de 1440px*/
.container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
  width: calc(100% - 150px);
  color: #ffffff;
  max-width: 1440px;
  padding: 0px 75px;
}

.container-info {
  width: 380px;
  margin-right: 7.5%;
}

.container-info table {
  width: 100%;
  font-family: var(--font-body);
}

.container-info table p {
  margin: 15px 15px;
}

.container-info table span {
  font-size: 25px;
}

.container-category {
  width: 350px;
  margin-right: 10%;
}

.container-category table {
  width: 100%;
  font-family: var(--font-body);
  font-size: 18px;
}

.container-category table p {
  margin: 10px;
}

.container-social-and-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-social-networks {
  display: flex;
}

.social-network {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-network span {
  margin-top: 3px;
}

.copyright {
  font-size: 12px;
  font-family: var(--font-body);
  margin-bottom: 60px;
}
/*FIN CONTENEDOR FOOTER*/

/*
**
**
SECCION MEDIA QUERYS
**
**
*/
@media (min-width: 1025px) {
  /*Se le pone a los componenetes mobiles*/
  .hidden-on-desktop {
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 1024px) {
  .hidden-on-desktop {
    display: none;
  }

  /*1296px de 1440px*/
  .container-logo {
    width: 95%;
  }

  .container-head__paragraph {
    margin-top: 0;
  }

  .container-head__paragraph h1 {
    font-size: 35px;
  }

  .container-head img {
    width: 53%;
  }

  /*Contenedor Main*/
  main {
    margin-top: 80px;
  }

  /*1224px de 1440px*/
  .container-card {
    height: 340px;
  }

  .container-community button {
    font-size: 18px;
  }

  /*Contenedor footer*/
  footer {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    color: var(--Grayish-Blue);
    background-color: var(--Very-Dark-Cyan);
    z-index: 1;
  }

  /*1250px de 1440px*/
  .container-footer {
    display: flex;
    margin-top: 150px;
    width: 95%;
    max-width: 1200px;
    color: #ffffff;
  }

  .container-info table p {
    margin: 10px 10px;
  }

  .container-category {
    width: 350px;
    margin-right: 7.5%;
  }
}

@media (min-width: 426px) and (max-width: 750px) {
  .container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .row {
    width: 100%;
    max-width: 750px;
  }

  .row-header {
    margin-bottom: 100px;
  }
  /*CONTENEDOR HEADER*/
  header {
    padding: 40px;
    width: calc(100% - 80px);
    background: url(../../assets/10-huddle-landing-page-with-alternating-feature-blocks/bg-hero-mobile.svg),
      var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-header);
  }

  /*1296px de 1440px*/
  .container-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 0px;
  }

  .container-logo img {
    height: 32px;
  }

  .container-logo button {
    width: 200px;
    background: #ffffff;
    border: transparent;
    border-radius: 100px;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
  }

  .container-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .container-head__paragraph {
    width: 100%;
    max-width: 600px;
    margin-top: 22vw;
    text-align: center;
  }

  .container-head__paragraph h1 {
    font-size: 47px;
    font-weight: 600;
    margin: 0;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 50px;
  }

  .container-head__paragraph p {
    font-family: var(--font-body);
    font-size: 30px;
    margin: 0;
    margin-bottom: 65px;
    color: var(--Very-Dark-Cyan);
  }

  .container-head__paragraph button {
    height: 80px;
    font-family: var(--font-body);
    border-radius: 100px;
    width: 64%;
    font-size: 24px;
    color: #ffffff;
    background: var(--Pink);
    font-weight: bold;
    border: transparent;
  }

  .container-head img {
    width: 100%;
    height: 100%;
  }
  /*FIN CONTENEDOR HEADER*/

  /*CONTENEDOR MAIN*/
  main {
    width: calc(100% - 80px);
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    position: relative;
    margin-bottom: 300px;
    gap: 60px;
  }
  /*CAMBIAR EL NOMBRE Y VALOR DE LAS CLASES*/
  /*1224px de 1440px*/
  .container-card-mobile {
    width: 100%;
    height: 975px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    box-shadow: 1px 1px 10px -8px black;
    padding: 0px 0px 60px 0px;
  }

  .container-card__paragraph-mobile {
    width: 90%;
    max-width: 470px;
    text-align: center;
  }

  .container-card__paragraph-mobile h2 {
    font-family: var(--font-header);
    font-size: 40px;
    margin-top: 0;
    color: var(--Very-Dark-Cyan);
  }

  .container-card__paragraph-mobile p {
    font-family: var(--font-body);
    font-size: 25px;
    color: var(--Grayish-Blue);
  }

  .container-card-mobile img {
    width: 90%;
    max-width: 470px;
    margin-top: 100px;
    margin-bottom: 125px;
  }

  .container-community {
    height: 355px;
    width: 93%;
    max-width: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px -8px black;
    border-radius: 30px;
    background: #ffffff;
    position: absolute;
    bottom: -430px;
    z-index: 2;
    text-align: center;
  }

  .container-community h2 {
    font-family: var(--font-header);
    font-size: 35px;
    color: var(--Very-Dark-Cyan);
    margin: 0;
    margin-bottom: 50px;
  }

  .container-community button {
    width: 50%;
    height: 80px;
    color: #ffffff;
    font-family: var(--font-header);
    font-size: 20px;
    background: var(--Pink);
    border: transparent;
    border-radius: 100px;
  }
  /*CONTENEDOR MAIN*/

  /*CONTENEDOR FOOTER*/
  footer {
    width: 100%;
    height: 1450px;
    display: flex;
    justify-content: center;
    color: var(--Grayish-Blue);
    background-color: var(--Very-Dark-Cyan);
    z-index: 1;
  }

  /*1250px de 1440px*/
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    width: 92%;
    max-width: 750px;
    color: #ffffff;
  }

  .container-info {
    width: 93%;
    margin-bottom: 130px;
  }

  .container-info table {
    width: 100%;
    font-family: var(--font-body);
  }

  .container-info table p {
    margin: 15px 15px;
    font-size: 31px;
  }

  .container-info table span {
    font-size: 25px;
  }

  .container-category {
    width: 90%;
    margin-bottom: 130px;
  }

  .container-category table {
    width: 100%;
    font-family: var(--font-body);
  }

  .container-category table p {
    margin: 10px;
    font-size: 31px;
  }

  .container-social-and-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container-social-networks {
    display: flex;
  }

  .social-network {
    margin-top: 15px;
    width: 60px;
    height: 60px;
    margin-right: 25px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-network span {
    margin-top: 8px;
    font-size: 30px;
  }

  .copyright {
    text-align: center;
    font-size: 25px;
    font-family: var(--font-body);
    margin-top: 60px;
  }

  .hidden-on-mobile {
    display: none;
  }
}

@media (max-width: 425px) {
  .row {
    width: 100%;
    max-width: 425px;
  }

  .row-header {
    margin-bottom: 100px;
  }

  /*CONTENEDOR HEADER*/
  header {
    padding: 0px 20px;
    width: calc(100% - 40px);
    height: auto;
    background: url(../../assets/10-huddle-landing-page-with-alternating-feature-blocks/bg-hero-mobile.svg),
      var(--Very-Pale-Cyan);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-header);
    margin-bottom: 60px;
  }

  .container-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 0px;
  }

  .container-logo img {
    height: 35px;
  }

  .container-logo button {
    width: 100px;
    background: #ffffff;
    border: transparent;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
  }

  .container-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .container-head__paragraph {
    width: 100%;
    max-width: 600px;
    margin-top: 10vw;
    text-align: center;
  }

  .container-head__paragraph h1 {
    font-size: 37px;
    font-weight: 600;
    margin: 0;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 50px;
  }

  .container-head__paragraph p {
    font-family: var(--font-body);
    font-size: 20px;
    margin: 0;
    margin-bottom: 65px;
    color: var(--Very-Dark-Cyan);
  }

  .container-head__paragraph button {
    height: 80px;
    font-family: var(--font-body);
    border-radius: 100px;
    width: 64%;
    font-size: 20px;
    color: #ffffff;
    background: var(--Pink);
    font-weight: bold;
    border: transparent;
    margin-bottom: 110px;
  }

  .container-head img {
    width: 100%;
    height: 100%;
  }
  /*FIN CONTENEDOR HEADER*/

  /*CONTENEDOR MAIN*/
  main {
    padding: 0px 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    position: relative;
    margin-bottom: 300px;
  }
  /*CAMBIAR EL NOMBRE Y VALOR DE LAS CLASES*/
  /*1224px de 1440px*/
  .container-card-mobile {
    width: 100%;
    padding-bottom: 40px;
    height: 975px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 60px;
    box-shadow: 1px 1px 10px -8px black;
  }

  .container-card__paragraph-mobile {
    width: 100%;
    max-width: 470px;
    text-align: center;
  }

  .container-card__paragraph-mobile h2 {
    font-family: var(--font-header);
    font-size: 40px;
    margin-top: 0;
    color: var(--Very-Dark-Cyan);
  }

  .container-card__paragraph-mobile p {
    font-family: var(--font-body);
    font-size: 25px;
    color: var(--Grayish-Blue);
  }

  .container-card-mobile img {
    width: 90%;
    max-width: 470px;
    margin-top: 100px;
    margin-bottom: 125px;
  }

  .container-community {
    height: 355px;
    width: 90%;
    max-width: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px -8px black;
    border-radius: 30px;
    background: #ffffff;
    position: absolute;
    bottom: -430px;
    z-index: 2;
    text-align: center;
  }

  .container-community h2 {
    font-family: var(--font-header);
    font-size: 35px;
    color: var(--Very-Dark-Cyan);
    margin: 0;
    margin-bottom: 50px;
  }

  .container-community button {
    width: 50%;
    height: 80px;
    color: #ffffff;
    font-family: var(--font-header);
    font-size: 20px;
    background: var(--Pink);
    border: transparent;
    border-radius: 100px;
  }
  /*CONTENEDOR MAIN*/

  /*CONTENEDOR FOOTER*/
  footer {
    width: 100%;
    height: 1450px;
    display: flex;
    justify-content: center;
    color: var(--Grayish-Blue);
    background-color: var(--Very-Dark-Cyan);
    z-index: 1;
  }

  /*1250px de 1440px*/
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    width: 92%;
    max-width: 425px;
    color: #ffffff;
  }

  .container-info {
    width: 93%;
    margin-bottom: 130px;
  }

  .container-info table {
    width: 100%;
    font-family: var(--font-body);
  }

  .container-info table p {
    font-size: 25px;
  }

  .container-info table span {
    font-size: 25px;
  }

  .container-category {
    width: 90%;
    margin-bottom: 130px;
  }

  .container-category table {
    width: 100%;
    font-family: var(--font-body);
  }

  .container-category table p {
    margin: 10px;
    font-size: 25px;
  }

  .container-social-and-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container-social-networks {
    display: flex;
  }

  .social-network {
    margin-top: 15px;
    width: 60px;
    height: 60px;
    margin-right: 25px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-network span {
    margin-top: 8px;
    font-size: 30px;
  }

  .copyright {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-body);
    margin-top: 60px;
  }

  .hidden-on-mobile {
    display: none;
  }
}
