---
import Layout from '@layouts/Layout.astro';
import './16-star-rating-component.css';
---

<Layout title="Star Rating Component" />

<main class="container-fluid">
  <div class="container-body">
    <p class="title">How many stars would you give to our Online Code Editor?</p>

    <div class="stars-container">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>

    <p class="text">
      Excellent! We are thrilled to hear you had such a positive experience. Thank you for choosing
      our platform
    </p>
  </div>
</main>

<script src="./actions.ts"></script>
