@import '../../../styles/variables.css';

.container-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 16px;
  background-color: var(--background-primary);
}

.card-title {
  font-size: var(--desktop-bodyLargeBold-font-size);
  font-weight: var(--desktop-bodyLargeBold-font-weight);
  color: var(--text-primary);
  margin: 0;
}

.card-title-repository {
  font-size: var(--desktop-bodySmall-font-size);
  font-weight: var(--desktop-bodySmall-font-weight);
  color: var(--text-primary);
  text-transform: underline;
  font-style: italic;
  margin: 0;
}

.card-platform-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.card-title-technology {
  font-size: var(--desktop-bodySmall-font-size);
  font-weight: var(--desktop-bodySmall-font-weight);
  color: var(--text-primary);
  margin: 0;
}

.card-container-technologies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.technology-badge {
  margin: 0;
  font-size: var(--desktop-tinyBold-font-size);
  font-weight: var(--desktop-tinyBold-font-weight);
}
